check process http_debugger with pidfile {{ current }}/daemons/http-debugger.pid
    start program = "{{ current }}/manage.py start"
    stop program  = "{{ current }}/manage.py stop"
    if cpu > 60% for 7 cycles then alert
    if cpu > 80% for 10 cycles then restart
    if totalmem > 200.0 MB for 5 cycles then restart
    if children > 250 then restart
    if 7 restarts within 8 cycles then timeout